@font-face {
    font-family: 'activesans-Bold';
    src: url('../Fonts/IBMPlexSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'activesans-medium';
    src: url('../Fonts/IBMPlexSans-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'activesans-text';
    src: url('../Fonts/IBMPlexSans-Text.otf') format('opentype');
}
@font-face {
    font-family: 'activesans-thin';
    src: url('../Fonts/IBMPlexSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'ibmplexsans-extralight';
    src: url('../fonts/ibmplexsans-extralight.otf') format('opentype');
}
@font-face {
    font-family: 'activesans-regular';
    src: url('../Fonts/IBMPlexSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'activesans-light';
    src: url('../Fonts/IBMPlexSans-Light.otf') format('opentype');
}

.sidenav {
    height: 100%;
    width: 0;
    border-right-color:#3d70b2;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}